<div class="colorChooser" [ngStyle]="style">
  <div>
    <div
      class="color"
      style="background-color: red"
      (click)="colorClick(0)"
    ></div>
    <div
      class="color"
      style="background-color: cyan"
      (click)="colorClick(1)"
    ></div>
    <div
      class="color"
      style="background-color: green"
      (click)="colorClick(2)"
    ></div>
  </div>
  <div>
    <div
      class="color"
      style="background-color: orange"
      (click)="colorClick(3)"
    ></div>
    <div
      class="color"
      style="background-color: magenta"
      (click)="colorClick(4)"
    ></div>
    <div
      class="color"
      style="background-color: blue"
      (click)="colorClick(5)"
    ></div>
  </div>
</div>
